/* Estilos base para el documento HTML */
html {
  min-height: 100%;
  font-family: "Lato", sans-serif;
  background: linear-gradient(var(--lightBgStart), var(--lightBgEnd));
  --lightBtn: #050a4a;
  --lightBgStart: #92daea;
  --lightBgEnd: #275fa5; /* Cambia este color al que desees para el degradado */
  --lightBox: rgba(255, 255, 255, 0.9);
}

/* Estilos para el tema oscuro del documento HTML */
html[data-theme="dark"] {
  font-family: "Lato", sans-serif;
  background: linear-gradient(var(--darkBgStart), var(--darkBgEnd));
  --lightBtn: #ffbd07;
  --darkBgStart: #32087d;
  --darkBgEnd: #0a1039; /* Cambia este color al que desees para el degradado */
  --lightBox: rgba(0, 0, 0, 0.9);
}

/* Estilos para la sección de encabezado */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 14px;
}

.combined-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.9);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  animation: rotate 5s infinite;
  display: inline-block;

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(4deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

/* Estilos para el interruptor de modo oscuro */
.DarkModeToggle {
  p {
    font-weight: 300;
    color: var(--lightColor);
  }
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    background: var(--lightBtn);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    &:after {
      content: "";
      background: #fff;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 4px;
      transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    }
  }
  input:checked + label {
    background: #ffbd07;
    &:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
  }
}

/* Estilos para las transiciones en HTML */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}

/* Estilos para el cuerpo de la aplicación en modo oscuro */
body.dark-mode {
  background: linear-gradient(to bottom right, rgb(3, 16, 39), rgb(2, 16, 29));
}

/* Estilos para la etiqueta h1 en el cuerpo */
body > h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.9rem;
}

// Definir una variable para la anchura inicial del contenedor
$ancho-inicial: 70%;

// Definir una variable para la anchura del contenedor en dispositivos móviles
$ancho-movil: 95%;

// Definición de variable para el ancho del contenedor en dispositivos móviles
$ancho-contenedor-movil: 90%;

// Estilos para el contenedor principal de la aplicación
.reactApp {
  width: 70%; // Ancho por defecto
  margin: 15px auto;

  // Media query para dispositivos móviles
  @media only screen and (max-width: 768px) {
    // Ajusta el valor según tus necesidades
    width: $ancho-contenedor-movil;
  }
}

/* Estilos para los elementos dentro del contenedor principal */
.reactApp > div {
  color: rgb(74, 111, 161);
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
  background-color: var(--lightBox);
  padding: 24px 32px;
  margin-bottom: 1.5rem;
}

/* Estilos para los elementos dentro del contenedor principal en modo oscuro */
.reactApp > div[data-theme="dark"] {
  background-color: var(--lightBox);
  
}

/* Estilos para los elementos "p" dentro de la aplicación */
.reactApp p {
  color: rgb(114, 126, 142);
}

/* Estilos para la clase "search" */
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3.25rem;
  display: flex;
  align-items: center;
  input {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 1.5rem;
    border: none;
    font-size: 1.25rem;
    color: rgb(114, 126, 142);
    width: 100%;
    outline: none;
    text-transform: capitalize;
  }
  .icon {
    margin-right: 1rem;
    color: rgb(114, 126, 142);
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-out;
    &:hover {
      transform: scale(1.4);
    }
  }
}

/* Estilos para la clase "time" */
.time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
}

/* Estilos para la clase "location" */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 0;
  }
}

/* Estilos para la clase "skyImage" */
.skyImage {
  width: 150px;
  height: 150px;
}

/* Estilos para el botón */
button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

/* Estilos para el botón "button_up" */
.button_up {
  color: rgb(114, 126, 142);
  &:hover {
    transform: scale(1.1);
  }
}

/* Estilos para el contenedor "weatherDetails" */
.weatherDetails {
  margin-top: 50px;
  .skyclimate {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    p {
      margin: 0;
      color: rgb(31, 179, 179);
    }
  }
  .actualTemperature {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    p {
      font-size: 30px;
    }
    .details {
      display: flex;
      flex-direction: column;
      gap: 5px;
      div {
        display: flex;
        font-weight: 300;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        span {
          font-weight: 500;
          margin-left: 5px;
        }
      }
    }
  }
  .todayTemperature {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 17px;
    flex-wrap: wrap;
    div {
      display: flex;
      align-items: center;
      p {
        font-size: 15px;
        margin-left: 5px;
      }
    }
  }
}

/* Estilos para la clase "forecast" */
.forecast {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 50px;

  .forescastOptions {
    display: flex;
    justify-content: space-around;
  }

  hr {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 17px;
      }
    }
  }
}
