/* Estilos para la clase "App" */
body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    to bottom right,
    rgb(254, 254, 254),
    rgb(6, 237, 237)
  );
 
  display: flex;
  justify-content: center;
  

}


body > h1 {
  margin-top: 0;
  margin-bottom: 0;
  /* Color de texto blanco */

  /* Tamaño de fuente grande */
  font-size: 1.9rem;
}

.reactApp {
  width: 100%;
  padding: 0px 16px;
}

.reactApp > div {
  width: 100%;
  color: rgb(74, 111, 161);
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;

  background-color: rgba(255, 255, 255, 0.9);
  padding: 24px 32px;
  margin-bottom: 1.5rem;
}

.reactApp p {
  color: rgb(114, 126, 142);
}

/* Estilos para la clase "search" */
.search {
  /* Elementos flexibles en fila con alineación centrada */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Estilo para el contenedor "div" dentro de "search" */

  height: 3.25rem;

  display: flex;

  align-items: center;

  /* Estilos para el elemento "input" dentro de "div" */
  input {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 1.5rem;
    border: none;
    font-size: 1.25rem;
    color: rgb(114, 126, 142);
    width: 100%;
    /* Elimina el contorno al enfocar */
    outline: none;
    /* Transforma el texto a mayúsculas y minúsculas */
    text-transform: capitalize;
  }
  /* Estilos para la clase "icon" dentro de "div" */
  .icon {
    margin-right: 1rem;
    /* Color de texto blanco */
    color: rgb(114, 126, 142);
    /* Cursor en forma de puntero */
    cursor: pointer;
    width: 20px;
    height: 20px;
    /* Transición suave de propiedades con duración de 0.2 segundos */
    transition: all 0.2s ease-out;
    /* Efecto de escala al hacer hover */
    &:hover {
      transform: scale(1.25);
    }
  }
}

/* Estilos para la clase "time" */
.time {
  /* Elementos flexibles en fila con alineación centrada */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Espacio en la parte superior, ajustable según necesidades */
  margin-top: 0.5rem;
  /* Estilos para el elemento "p" dentro de "time" */
  p {
    /* Color de texto blanco */

    /* Tamaño de fuente */
    font-size: 1.25rem;
    /* Peso de fuente ligero */
    font-weight: 200;
  }
}

/* Estilos para la clase "location" */
.location {
  /* Elementos flexibles */
  display: flex;
  /* Alineación vertical y horizontal centrada */
  align-items: center;
  justify-content: center;
  /* Elimina el margen predeterminado del elemento "p" */
}

/* Estilos para la clase "skyImage" */
.skyImage {
  width: 10rem;
  height: 10rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;

}

.button_up {
  color: rgb(114, 126, 142);
  &:hover {
    transform: scale(1.02);
  }
}

h3{
  padding-left: 1rem;
}


/* Estilos para la clase "weatherDetails" */
.weatherDetails {
  /* Estilos para la clase "skyclimate" dentro de "weatherDetails" */
  .skyclimate {
    /* Elementos flexibles con alineación centrada */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Tamaño de fuente */
    font-size: 1.25rem;
    /* Color de texto cyan */
    p {
      color: rgb(31, 179, 179);
    }
  }

  /* Estilos para la clase "actualTemperature" dentro de "weatherDetails" */
  .actualTemperature {
    /* Elementos flexibles en fila con alineación centrada */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    /* Espacio en la parte superior */
    padding-top: 0.75rem;
    /* Estilos para el elemento "p" dentro de "actualTemperature" */
    p {
      /* Tamaño de fuente grande */
      font-size: 3rem;
    }

    /* Estilos para la clase "details" dentro de "actualTemperature" */
    .details {
      /* Elementos flexibles en columna con espacio vertical entre ellos */
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      /* Estilos para el elemento "div" dentro de "details" */
      div {
        /* Elementos flexibles con peso de fuente ligero */
        display: flex;
        font-weight: 300;
        /* Tamaño de fuente pequeño */
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        /* Estilos para el elemento "span" dentro de "div" */
        span {
          /* Peso de fuente medio */
          font-weight: 500;
          /* Margen izquierdo */
          margin-left: 0.25rem;
        }
      }
    }
  }

  /* Estilos para la clase "todayTemperature" dentro de "weatherDetails" */
  .todayTemperature {
    /* Elementos flexibles en fila con alineación centrada y espacio entre ellos */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    /* Color de texto blanco */

    /* Tamaño de fuente pequeño */
    font-size: 1rem;
    /* Espacio en la parte superior */
    padding-top: 0.75rem;
    /* Estilos para el elemento "p" dentro de "todayTemperature" */
    p {
      /* Estilos para el elemento "span" dentro de "p" */
      span {
        /* Tamaño de fuente */
        font-size: 1.1rem;
      }
    }
  }
}

/* Estilos para la clase "forecast" */
.forecast {
  /* Elementos flexibles en columna con alineación al inicio */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* Espacio en la parte superior, ajustable según necesidades */
  margin-top: 0.5rem;
  /* Estilos para el elemento "hr" dentro de "forecast" */
  hr {
    /* Ancho completo */
    width: 100%;
    /* Elimina el margen predeterminado del elemento "hr" */
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Estilos para la clase "carousel" dentro de "forecast" */
  .carousel {
    /* Elementos flexibles en fila con alineación centrada y espacio entre ellos */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* Estilos para el elemento "div" dentro de "carousel" */
    div {
      /* Elementos flexibles en columna con espacio vertical entre ellos */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      /* Tamaño de fuente pequeño */
      p {
        font-size: 0.875rem;
      }
    }
  }
}
