@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply h-full overflow-x-hidden m-0 p-0 font-sans;
    background: fixed linear-gradient(to bottom, theme('colors.sky-clear-start'), theme('colors.sky-clear-end'));
    transition: background 1s ease-in-out;
  }
}

@layer components {
  .glass-card {
    @apply backdrop-blur-md bg-white/20 border border-white/30 rounded-3xl shadow-glass;
  }

  .glass-card-dark {
    @apply backdrop-blur-md bg-black/30 border border-white/10 rounded-3xl shadow-glass;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}